@charset "UTF-8";

body {
    background: rgb(171, 255, 156);
    color: rgb(45, 111, 255);
}
h1 {
    color: rgb(178, 38, 150);
}
p {
    color: red;
    border-bottom: 5px solid rgb(102, 64, 64);
}
h2 {
    color: green;
    font-size: 80px;
    text-align: center;
    
    border-bottom: 5px double red;
}